<app-header-usuario></app-header-usuario>
<div fxLayout="row" fxLayoutAlign="start center" id="cadastrar" style="padding-top: 40px; padding-left: 2%; padding-right: 2%;" >
    <form #cadastrar (ngSubmit)="cadastrarProduto()" fxLayout="row" fxLayoutAlign="space-around center" style=" padding-top: 40px; padding-left:10%; padding-right: 10%;">
        <div fxLayout="row" fxLayoutAlign="space-around center"  style="margin-left: auto; margin-left: auto;">
            <div>              
                <input  [(ngModel)]="produto.idProduto" type="number"  class="form-control" name="idProduto" id="idProduto" value="0" placeholder="0" disabled>
            </div>
            <div  class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="nome">Nome</label>
                <input [(ngModel)]="produto.nomeProduto"  type="text" class="form-control" id="nome" placeholder="Nome do produto">
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="descricao">Descrição</label>
                <input [(ngModel)]="produto.descricaoProduto" type="text" class="form-control" id="descricao" placeholder="Descrição do produto">
            </div>
            <div class="form-group">
                <label for="valor">Valor do Produto</label>
                <input [(ngModel)]="produto.valorProduto" min="0" type="number" class="form-control" id="valor" placeholder="Valor unitário">
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="estoque">Estoque</label>
                <input [(ngModel)]="produto.estoque" min="0" type="number" class="form-control" id="estoque" placeholder="Quantidade em estoque">
            </div>
            <div class="form-group" style="margin-bottom: 20px; margin-top: 20px;"fxLayout="row" fxLayoutAlign="center center">
                <label for="categoria">Categoria</label>
                <input [(ngModel)]="produto.categorias" type="text" id="categorias" class="form-control" placeholder="Ex: Ação">
                
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="imagem">Imagem</label>
                <input [(ngModel)]="produto.imagem" type="text" class="form-control" id="imagem" placeholder="Endereço da imagem">
            </div>
            <button type="submit" class="btn btn-primary" style="background: #010127; margin-top: 20px; border: #e63909;" (click)="refresh()">Cadastrar produto</button>
            <button type="reset" class="btn btn-primary" style="background: #e63909; margin-left: 20px; margin-top: 20px; border: #e63909;" (click)="limparFormCadastrar()">Limpar preenchimento</button>
        </div>


    </form>
</div>

<app-footer></app-footer>