<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="start center" style="padding-top: 40px; padding-left: 2%; padding-right: 2%;" >
    <form fxLayout="row" fxLayoutAlign="space-around center" style=" padding-top: 40px; padding-left:10%; padding-right: 10%;">
        <div fxLayout="row" fxLayoutAlign="space-around center"  style="margin-left: auto; margin-left: auto;">
            <div>              
                <INPUT  [(ngModel)]="produtos.idProduto" TYPE="hidden" NAME="idProduto" VALUE="0">
            </div>
            <div  class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="nome">Nome</label>
                <input [(ngModel)]="produtos.nomeProduto"  type="text" class="form-control" id="nome" placeholder="Nome do produto">
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="descricao">Descrição</label>
                <input [(ngModel)]="produtos.descricaoProduto" type="text" class="form-control" id="descricao" placeholder="Descrição do produto">
            </div>
            <div class="form-group">
                <label for="valor">Valor do Produto</label>
                <input [(ngModel)]="produtos.valorProduto" min="0" type="number" class="form-control" id="valor" placeholder="Valor unitário">
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="estoque">Estoque</label>
                <input [(ngModel)]="produtos.estoque" min="0" type="number" class="form-control" id="estoque" placeholder="Quantidade em estoque">
            </div>
            <div class="form-group" style="margin-bottom: 20px; margin-top: 20px;"fxLayout="row" fxLayoutAlign="center center">
                <label for="categoria">Categoria</label>
                <br>
                <select [(ngModel)]="produtos.categorias" class="form-control" name="categoria" id="categoria">
                    <option selected disabled>Selecione a categoria</option>
                    <option value="acao">Ação</option>
                    <option value="aventura">Aventura</option>
                    <option value="corrida">Corrida</option>
                </select>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="imagem">Imagem</label>
                <input [(ngModel)]="produtos.imagem" type="text" class="form-control" id="imagem" placeholder="Endereço da imagem">
            </div>
            <button type="submit" class="btn btn-primary" style="background: #010127; margin-top: 20px; border: #e63909;" (click)="cadastrarProduto()">Cadastrar produto</button>
            <button type="reset" class="btn btn-primary" style="background: #e63909; margin-left: 20px; margin-top: 20px; border: #e63909;">Limpar preenchimento</button>
        </div>


    </form>
</div>

<app-footer></app-footer>