<app-header-usuario></app-header-usuario>
<div   class="row  container-fluid d-flex justify-content-center">
    <form  fxLayout="row" fxLayoutAlign="space-around center" style=" padding-top: 40px; padding-left:10%; padding-right: 10%;">
        <h2 class="text-center">Cadastrar Produtos</h2>
        <div fxLayout="row" fxLayoutAlign="space-around center"  style="margin-left: auto; margin-left: auto;">
            <div>
                <input [(ngModel)]="produtos.idProduto" type="number"  class="form-control" name="idProduto" id="idProduto" value="0" placeholder="0" disabled>
            </div>
            <div  class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="nome">Nome</label>
                <input [(ngModel)]="produtos.nomeProduto"  type="text" class="form-control" id="nome" placeholder="Nome do produto">
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="descricao">Descrição</label>
                <input [(ngModel)]="produtos.descricaoProduto" type="text" class="form-control" id="descricao" placeholder="Descrição do produto">
            </div>
            <div class="form-group">
                <label for="valor">Valor do Produto</label>
                <input [(ngModel)]="produtos.valorProduto" min="0" type="number" class="form-control" id="valor" placeholder="Valor unitário">
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="estoque">Estoque</label>
                <input [(ngModel)]="produtos.estoque" min="0" type="number" class="form-control" id="estoque" placeholder="Quantidade em estoque">
            </div>
            <div class="form-group" style="margin-bottom: 20px; margin-top: 20px;"fxLayout="row" fxLayoutAlign="center center">
              <label for="categoria">Categorias:</label>
              <select class="form-control" name="categorias" id="categorias" (change)="categoriaProd($event)">
                <option value="ALL">Selecione uma categoria:</option>
                <option value="ACAO">Ação</option>
                <option value="AVENTURA">Aventura</option>
                <option value="ESPORTE">Esporte</option>
                <option value="CORRIDA">Corrida</option>
                <option value="RPG">Rpg</option>
                <option value="TERROR">Terror</option>
                <option value="BATTLEROYALE">Battle Royale</option>
              </select>
          </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="imagem">Imagem</label>
                <input [(ngModel)]="produtos.imagem" type="text" class="form-control" id="imagem" placeholder="Endereço da imagem">
            </div>
            <div class="container d-flex">
                <button type="submit" class="btn btn-primary" style="background: #010127; margin-top: 20px; border: #e63909;"(ngSubmit)="cadastrarProduto()">Cadastrar produto</button>
                <button type="reset" class="btn btn-primary" style="background: #e63909; margin-left: 20px; margin-top: 20px; border: #e63909;">Limpar preenchimento</button>
            </div>

        </div>

    </form>
</div>
<hr>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-center">Produtos Cadastrados</h2>
    </div>
  </div>


  <div class="row mt-3 mb-5 d-flex justify-content-center">
    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome Produto</th>
            <th scope="col">Categoria</th>
            <th scope="col">Estoque</th>
            <th scope="col">Valor</th>
            <th scope="col" class="text-right">Editar</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let produto of listaProdutos">
            <th>{{produto.idProduto}}</th>
            <td>{{produto.nomeProduto}}</td>
            <td>{{produto.categorias}}</td>
            <td>{{produto.estoque}}</td>
            <td>{{produto.valorProduto}}</td>
            <td class="d-flex  justify-content-end">
              <a href="" [routerLink]="['/produto-edit', produto.idProduto]"><i class="fa  fa-pencil-square  text-dark" aria-hidden="true"><img style="width: 25px; margin-right: 4px;" src="../../assets/images/editar.png" alt=""></i></a>
              <a (click)="pegarId(produto.idProduto)" class="mx-2" href="" data-bs-toggle="modal" data-bs-target="#deletarProduto">
                <img style="width: 25px;" src="../../assets/images/deletar.png" alt="ícone Deletar">
              </a>
            </td>
          </tr>
          <div class="modal fade" id="deletarProduto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Deletar Produto</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Tem certeza que deseja deletar este produto?</p>
                </div>
                <div class="modal-footer">
                  <button style="background: #010127;" type="reset" class="btn text-white" data-bs-dismiss="modal">Cancelar</button>
                  <button style="background:#e63909; " type="submit" class="btn text-white" (click)="delete() " data-bs-dismiss="modal">Deletar</button>
                </div>
              </div>
            </div>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>



<app-footer></app-footer>
