<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%"   src='{{ "assets/jogos/" + produtos.imagem + ".png" }}'>

    <div class="card-body">
        <p class="card-text">{{produtos.nomeProduto}}</p>
        <p class="card-text">{{produtos.descricaoProduto}}</p>
        <p class="card-text">{{produtos.categorias}}</p>
        <p class="card-text">{{produtos.estoque}}</p>
        <p class="card-text"> {{produtos.valorProduto | currency:'BRL'}} </p>
        <div class="bnt-group">
            <button type="button" class="btn btn-sn btn-primary">Comprar</button>
        </div>

    </div>
</div>
