<app-header-usuario></app-header-usuario>
<div class="container d-flex justify-content-center" style="margin-top: 5%;">
  <div class="col-md-8 container-fluid align-itens-center">
    <form>
      <h2 style="align-items: center; margin: 0%; text-align: center;">Perfil do Usuário</h2>
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input [(ngModel)]="usuario.usuario" name="usuario" type="text" class="form-control" id="email" placeholder="{{email}}">
      </div>
      <div class="form-group">
          <label for="nome">Nome</label>
          <input [(ngModel)]="usuario.nome" name="nome" type="name" class="form-control" id="nome"placeholder="{{nome}}" >
      </div>
      <div class="form-group">
          <label for="cpf">CPF</label>
          <input [(ngModel)]="usuario.cpfUsuario" nome="cpfUsuario" type="text" class="form-control" id="cpf" value="{{cpf}}" disabled placeholder="{{cpf}}">
      </div>
      <div class="mt-3">
        <label for="password">Senha</label>
        <input class="form-control" type="password" name="password" id="password" [(ngModel)]="usuario.senha">
      </div>
      <br>
      <button type="submit" class="btn btn-primary text-white" style="background:#010127; border: 0;" (click)="atualizar()">Salvar</button>
      <button type="button" class="btn btn-danger mx-2 text-white" href="" data-bs-toggle="modal" data-bs-target="#deletarConta" style="background:#f76201; border: 0;" (click)="pegarId(usuario.idUsuario)">Deletar conta</button>
    </form>
    <div class="modal fade" id="deletarConta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Deletar Conta</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Tem certeza que deseja deletar sua conta?</p>
          </div>
          <div class="modal-footer">
            <button type="reset" style="background: #010127;" class="btn text-white" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" style="background: #f76201;" class="btn text-white" (click)="delete()" data-bs-dismiss="modal">Deletar</button>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>
<app-footer></app-footer>