<div fxLayout="row" fxLayoutAlign="center center" style="flex-wrap: wrap; padding-top: 40px; padding-left: 2%; padding-right: 2%; margin-right: 15px; margin-left: auto; ">
  <h2 style="align-items: center; margin-left:75px;"> Destaques da semana</h2>
  <hr class="mt-2 mb-2" style="border: black solid 2px; margin-left: 55px; margin-right: 35px">
  <br>
  <br>
  <div class="card-group">
    <div routerLink="/jogos-app" class="card btn" fxLayout="row" fxLayoutAlign="center center" style="padding-top: 2%; padding-left: 2%; padding-right: 2%; margin-left: auto;">
      <img src="../../../assets/jogos/assassinscreedvalhalla.png" class="card-img-top" alt="Jogo Assassins Creed Valhalla">
      <h5 style="margin-top: 5%;" class="card-title"> <b>Assassins Creed Valhalla</b></h5>
      <!-- <div class="card-body">
        <h5 class="card-title">Assassins Creed Valhalla</h5>
        <p>R$...</p>
        <a  class="btn btn-primary" style="background: #f76201; border: 0;">Adicionar à cesta</a>
      </div> -->
    </div>
    <div routerLink="/jogos-app" class="card btn" fxLayout="row" fxLayoutAlign="center center" style="padding-top: 2%; padding-left: 2%; padding-right: 2%; margin-left: auto; ">
      <img src="../../../assets/jogos/farCry6.png" class="card-img-top" alt="Jogo FarCry 6">
      <h5 style="margin-top: 5%;" class="card-title"> <b>FarCry 6</b></h5>
      <!-- <div class="card-body">
        <h5 class="card-title">FarCry 6</h5>
        <br>
        <p>R$...</p>
        <a routerLink="/jogos-app" class="btn btn-primary" style="background: #f76201; border: 0;">Adicionar à cesta</a>
      </div> -->
    </div>
    <div routerLink="/jogos-app" class="card btn" fxLayout="row" fxLayoutAlign="center center" style="padding-top: 2%; padding-left: 2%; padding-right: 2%; margin-left: auto; ">
      <img src="../../../assets/jogos/spiderman.png" class="card-img-top" alt="Jogo Spider Man Miles Morales">
      <h5 style="margin-top: 5%;" class="card-title"> <b>Spider Man Miles Morales</b></h5>
      <!-- <div class="card-body">
        <h5 class="card-title">Spider Man Miles Morales</h5>        
        <a routerLink="/jogos-app" class="btn btn-primary" style="background: #f76201; border: 0;">Adicionar à cesta</a>
      </div> -->
    </div>
    <div routerLink="/jogos-app" class="card btn" fxLayout="row" fxLayoutAlign="center center" style="padding-top: 2%; padding-left: 2%; padding-right: 2%; margin-left: auto; ">
      <img src="../../../assets/jogos/destiny2.png" class="card-img-top" alt="Jogo Destiny 2">
      <h5 style="margin-top: 5%;" class="card-title"> <b>Destiny 2</b></h5>
      <!-- <div class="card-body">
        
        <br>
        <a routerLink="/jogos-app" class="btn btn-primary" style="background: #f76201; border: 0;">Adicionar à cesta</a>
      </div> -->
    </div>
    <div routerLink="/jogos-app" class="card btn" fxLayout="row" fxLayoutAlign="center center" style="padding-top: 2%; padding-left: 2%; padding-right: 2%; margin-left: auto; ">
      <img src="../../../assets/jogos/NBA2K22.png" class="card-img-top" alt="Jogo NBA 2k22">
      <h5 style="margin-top: 5%;" class="card-title"> <b>NBA 2k22</b> </h5>
      <!-- <div class="card-body">
        <h5 class="card-title">NBA 2k22</h5>
        <br>
        <a routerLink="/jogos-app" class="btn btn-primary" style="background: #f76201; border: 0;">Adicionar à cesta</a>
      </div> -->
    </div>
  </div>
</div>
