
<h2 style="align-items: cente; margin-left:40%; margin-top: 60px"> Destaques da semana</h2>
<hr class="mt-2 mb-2" style="border: black solid 2px; margin-left: 50px; margin-right: 50px">
<br>
<br>
<div class="card-group">
  <div class="card" style="margin-left: 70px;">
    <img src="../../../assets/jogos/Assassins-Creed-Valhalla.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Assassins Creed Valhalla</h5>  
      <p>R$...</p>    
      <a href="#" class="btn btn-primary" style="background: #f76201; border: 0;">Adicionar à cesta</a>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/jogos/farCry6.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">FarCry 6</h5>  
      <br>        
      <p>R$...</p>   
      <a href="#" class="btn btn-primary" style="background: #f76201; border: 0;">Adicionar à cesta</a>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/jogos/Spider-Man.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Spider Man Miles Morales </h5>     
      <p>R$...</p>  
      <a href="#" class="btn btn-primary" style="background: #f76201; border: 0;">Adicionar à cesta</a>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/jogos/destiny-2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Destiny 2</h5>        
      <br>   
      <p>R$...</p>  
      <a href="#" class="btn btn-primary" style="background: #f76201; border: 0;">Adicionar à cesta</a>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/jogos/NBA2K22.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">NBA 2k22</h5> 
      <br>       
      <p>R$...</p>
      <a href="#" class="btn btn-primary" style="background: #f76201; border: 0;">Adicionar à cesta</a>
    </div>
  </div>
</div>