<app-header-usuario></app-header-usuario>
<div class="container-fluid d-flex justify-content-center p-0 vh-100">
    <div class="container">
      <div class="row d-flex justify-content-center mt-4 mb-5">

        <form class="form-signin rounded-sm vw-80">          

          <h3 class="text-center fw-bold display-4">Atualizar Usuário</h3>


          <div class="tab-content">
            <div id="login" class="container tab-pane active">
                <label for="nome">Nome completo:</label>
                        <input [(ngModel)]="usuario.nome" class="form-control mb-4" type="text" name="nome" id="nome" placeholder="Seu nome completo">
                        <label for="inputPassword" class="sr-only"></label>

                        <label for="email">Email:</label>
                        <input [(ngModel)]="usuario.usuario" type="email" id="inputEmail" class="form-control mb-4"
                        placeholder="Email" name='usuario'>

                        <label for="cpf">CPF:</label>
                        <input [(ngModel)]="usuario.cpfUsuario" type="text" id="cpfUsuario" class="form-control mb-4"
                        placeholder="cpf" name='cpfUsuario' disabled>              

                        <label for="inputPassword" class="sr-only"></label>
                        <label for="senha">Senha:</label>
                        <input class="form-control mb-4" (input)="confirmSenha($event)" type="password" name="senha" id="senha"
                        placeholder="Sua senha">
                        <label for="confirmSenha">Confirmar senha:</label>
                        <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                        placeholder="Confirme sua senha">


                    <div class="one-line mb-2"></div>

                    <div class="d-flex justify-content-between mt-3">
                      <button routerLink="/home-logado" class="btn btn-danger btn-block w-25" style="background:#010127; border: 0;" type="submit">Cancelar</button>
                      <button (click)="atualizar()" class="btn btn-success btn-block w-25" style="background: #f76201; border:0;" type="submit">Cadastrar</button>                          
                    </div>
                </div>
              </div>

        </form>

      </div>
    </div>
</div>

<app-footer></app-footer>