<app-header></app-header>
<nav class="nav container-fluid align-items-center" style="background: #f76201; ">
    <a class="btn btn-secondary position: fixed;" style="margin-left: 45px; background: #f76201; " href="#">Nossa História</a>    
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" style="background: #f76201;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Jogos
        </button>
        <div class="dropdown-menu" style="background: #f76201;" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Ação</a>
          <a class="dropdown-item" href="#">Aventura</a>
          <a class="dropdown-item" href="#">Corrida</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" style="background: #f76201;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mais
        </button>
        <div class="dropdown-menu" style="background: #f76201;" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Blog</a>
          <a class="dropdown-item" href="#">Fale Conosco</a>
        </div>
    </div>   
    
    
</nav>
