
<div class="container" style="margin-bottom: -150px;">
  <div  style="margin: 20px; margin-top: 5%;"> 
    <div class="row d-flex align-items-center">
     <div class="col-md-12">
         <div class="row d-flex justify-content-center">
              <div class="col-md-6">
                <p style="text-align: justify; margin-left: 10px;">
                    A After Work trata-se de uma loja de jogos virtuais, idealizada, e fundada em 2022, por um grupo de amigos (Ana Kélvia, Dráuzio Santos,
                    Jeffeson, Michele Rosa, Roberta Rabelo, Wallan), que tem como missão a preservação do meio ambiente e a satisfação do cliente. O foco do e-commerce são jogos digitais,
                    possibilitando a compra em qualquer lugar do mundo e o recebimento imediato após a confirmação do pagamento. Além disso,
                    como não trabalhamos com mídias físicas evitamos o descarte incorreto de plático no meio ambiente.
                    Você pode realizar sua compra de forma confortável, sem sair de casa, e as formas de pagamento são 100% seguras.
                </p>
              </div>
              <div class="col-md-6 justify-content-center d-flex">
                <img style="width:300px; max-width: 100%;" src="../../../assets/Images/sobre.png" alt="Personagem Link, do jogo breath of wind da saga Zelda">
            </div>
         </div>
                  
         </div>
     </div>
            
  </div>
</div>