<nav class="container-fluid navbar navbar-expand-md bgColorStyle" id="navbar" style=" background: #010127; display: flex; width: 100%;">
  <div class="container-fluid py-3">
    <!-- LOGO -->
    <h1 class="navbar-brand" style="max-width: 100%;">
      <a routerLink="/home">
        <img src="../../../assets/Images/LogoAW3.png" class="logo-style" alt="Logo AfterWork" style="width: 200px; min-height: auto; margin-top: -85px; margin-bottom: -35px; margin-right:-30%; padding: 0;">
      </a>
    </h1>
    <H3 style="color:white;">Notícias, novidades e muito mais!</H3>
    <li class="nav-item">
      <a class="btn btn-secondary" style="margin-left: 0; background: #010127; border: 0; " routerLink="/components" routerLink="/home">Página inicial</a>
    </li>
  </div>
</nav>
<app-nav></app-nav>
<div class="container" style='width: 100%; margin-left: 17%; margin-top: 5%;'>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="../../assets/blog/the-legend-of-zelda-breath-of-the-wild-2-new-screenshots_7gvh.jpg" class="card-img-top" alt="Legend of Zelda">
        <div class="card-body">
          <h5 class="card-title">Sequência de Zelda: Breath of the Wild só chega em 2023, anuncia Nintendo</h5>
          <p class="card-text" style="text-align:justify">O novo capítulo da série Zelda tem a dura missão de dar sequência aos eventos de The Legend of Zelda: Breath of the Wild, que chegou em 2017 com versões para Nintendo Wii U e Nintendo Switch. O jogo representou uma grande mudança para a série, que deixou o formato linear para apostar em uma experiência de mundo aberto na qual os jogadores podiam cumprir missões na ordem que desejavam..</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../assets/blog/F1-Manager-2022..jpg" class="card-img-top" alt="F1 Manager">
        <div class="card-body">
          <h5 class="card-title">F1 Manager 2022 confirma lançamento para 30 de agosto e mostra novidades em trailer</h5>
          <p class="card-text" style="text-align:justify">Jogo desenvolvido pela produtora Frontier Developments, F1 Manager 2022 tem como objetivo imergir os jogadores na missão de um chefe de equipe da Fórmula 1, com decisões importantes dentro e fora das pistas</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../assets/blog/Street fighter.jpg" class="card-img-top" alt="Street Fighter 6">
        <div class="card-body">
          <h5 class="card-title">Street Fighter 6 ganha novo trailer, detalhes e previsão de lançamento para 2023</h5>
          <p class="card-text"style="text-align:justify">Além das novidades na jogabailidade, Street Fighter 6 também reúne modos de jogo dos títulos anteriores, incluindo Modo Arcade, partidas online, Modo Treino, batalhas versus locais e mais. Ao falar sobre os personagens jogáveis, além dos icônicos World Warriors como Ryu e Chun-Li, passando pelo recente Luke e o expert em breakdance, Jamie, os jogadores terão uma ampla gama de estilos de luta e habilidades para dominar.
            <br>
          O novo jogo estará disponível para PS5, PS4, Xbox Series X|S e PC.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../assets/blog/DiabloIV.jpg" class="card-img-top" alt="Diablo IV">
        <div class="card-body">
          <h5 class="card-title">Blizzard anuncia que lançamento de Diablo 4 e Overwatch 2 serão adiados</h5>
          <p class="card-text"style="text-align:justify">Foi revelado que a Blizzard irá adiar o lançamento dos games Diablo 4 e Overwatch 2 indefinidamente, pois devido às mudanças que a empresa está passando será necessário mais tempo para desenvolvimento dos dois títulos.
            Divulgado pelo jornalista Stephen Totilo, a Blizzard estava planejando entregar grande parte do conteúdo para o próximo ano, mas que essas mudanças farão a estreia desses dois jogos ser adiada e sem data de lançamento prevista.</p>
        </div>
      </div>
    </div>
  </div>
</div>
 <app-footer></app-footer>
